<h1>Welcome to SoftUni Wiki!</h1>
<section>
    <h2>Register</h2>
    <div class="spacer">
        <form action="/register" method="POST">
            <label>Email:</label>
            <input id="email" type="text" name="email">
            <label>Password:</label>
            <input id="password" type="password" name="password">
            <label>Repeat password:</label>
            <input id="repeatPassword" type="password" name="repeatPassword">
            <input type="submit" value="Register">
        </form>
    </div>
</section>